{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry",
				"targets": {
					"node": 8
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-transform-modules-commonjs",
		"@babel/plugin-proposal-dynamic-import"
	]
}
